:root{
    ---colorPrimary: #000;
    ---colorsecundary: #ff6200;
    ---colorNeutral: #fff;
    ---colorFundo: #E4E9F7;
    ---shadowBoxForm: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.title h1{
    font-size: 25px;
}


.list-geral-os{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-of-oss{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 8%;
}

.box-os{
    width: 30%;
    height: 15vh;
    background-color: var(---colorNeutral);
    box-shadow: var(---shadowBoxForm);
    padding: 10px;
}

.box-os .id-os{
    font-size: 10px;
}

.box-os .title-os{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

.box-os .title-os p:nth-child(2){
    color: var(---colorsecundary);
    font-weight: bold;
    font-size: 20px;
}