.load-login{
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    display: none;
    animation: loadLogin 2s linear infinite;
}

@keyframes loadLogin{
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
}