.add-banco-de-dados{
}
.form{
    display: grid;
    grid-column: 1;
    gap: 30px;
}
.form input{
    padding: 10px;
    width: 49%;
    border-radius: 10px;
    border: 1px solid black;
}
.select{
    width: 100%;
}
.form-add-bd{
    display: flex;
    flex-direction: column;
}
.buttons-add-cancelar{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1em;
}
.buttons-add-cancelar button{
    padding: 5px;
}
.buttons-add-cancelar button:nth-child(1){
    background-color: cornflowerblue;
    color: white;
    border: solid transparent;
    border-radius: 5px;
}
.buttons-add-cancelar button:nth-child(1):hover{
    background-color: rgb(75, 132, 238);
}
.buttons-add-cancelar button:nth-child(2){
    background-color: red;
    color: white;
    border: solid transparent;
    border-radius: 5px;
}
.buttons-add-cancelar button:nth-child(2):hover{
    background-color: crimson;
}
.box-form-setor{

}
.select{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    gap: 10px;
}
.select select{
    padding: 5px;
}
.perfil-colaborador{
    display: flex;
    flex-direction: column;
}

.form-add-bd{
    border-radius: 8px;
}

.box-form-setor input[type=text]{
    width: 49%;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #000;
}

.buttons-add-cancelar{
    margin-top: 5%;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.buttons-add-cancelar button{
    padding: 5px;
    border: solid transparent;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.buttons-add-cancelar button[type=submit]{
    background-color: cornflowerblue;
}