@import url(../style/index.css);

:root {
    --colorPrimary: #000;
    --colorsecundary: #ff6200;
    --colorNeutral: #fff;
    --colorFundo: #E4E9F7;
    --shadowBoxForm: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.settings-add-colaborador {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings-add-colaborador .title-settings {
    margin-left: 10%;
    margin-top: 3%;
}

.settings-add-colaborador .title-settings h1 {
    font-size: 30px;
}

.list-colaboradores .box-colaborador {
    width: 25%;
    background-color: var(--colorNeutral);
    box-shadow: var(--shadowBoxForm);
}

.list-colaboradores .box-colaborador .perfil-colaborador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 30px;
}

.list-colaboradores .box-colaborador .perfil-colaborador i {
    font-size: 35px;
}

.list-colaboradores .box-colaborador .buttons-colaborador .button-colaborador {
    color: var(--colorPrimary);
}

.list-colaboradores .box-colaborador .buttons-colaborador a:hover {
    color: var(--colorNeutral);
}

.list-colaboradores .box-colaborador .buttons-colaborador .excluir:hover {
    background: red;
}

.list-colaboradores .box-colaborador .buttons-colaborador .editar:hover {
    background-color: cornflowerblue;
}

.list-colaboradores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 5%;
}

a {
    text-decoration: none;
    color: #000;
}

.top3-colocados {
    display: flex;
    justify-content: center;
}

.top3-colocados .list-colocados {
    display: flex;
    gap: 4rem;
}

.top3-colocados .top3-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.top3-colocados .top3-cards img {
    width: 100px;
    height: 100px;
}

.golden {
    transform: translateY(-20%);
}

.golden img {
    border-radius: 100px;
    border: 3px solid gold;
}

.prata img {
    border-radius: 100px;
    border: 3px solid #C0C0C0;
}

.bronze img {
    border-radius: 100px;
    border: 3px solid #cd7f32;
}

.classificados-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Added this line */
}

.listagem-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Added this line */
}

.box-classificacao {
    width: 60%;
    display: flex;
    align-items: center;
    background-color: var(--colorNeutral);
    box-shadow: var(--shadowBoxForm);
    padding: 8px;
    justify-content: space-between;
    margin-top: 1.5rem;
    border-radius: 5px;
}

.box-classificacao img {
    width: 45px;
    height: 45px;
}

.div-1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nota{
    font-weight: bold;
    color: darkseagreen;
    font-size: 18px;
}