@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
}

.login-section{
    padding: 20px;
    box-shadow: var(---shadowBoxForm);
}

.login-section .title{
    text-align: center;
}

.login-section form{
    margin-top: 10%;
}

.login-section form .box-login{
    display: flex;
    flex-direction: column;
    
}
